.marker-container {
    width: fit-content;
    height: auto;
    /* filter: drop-shadow(1px 1px 2px blue); */
}
.marker-content {
    border-radius: 0.375rem;
    width: fit-content;
    height: auto;
    background-color: green;
    display: flex;
    flex-direction: column;
}

.marker-money {
    color: yellow;
    text-shadow: 2px 2px 0px #00000044;
    padding: 0.1rem 0.4rem 0.1rem 0.4rem;
    text-align: center;
}
.marker-money-viewed {
    color: #bf7006;
    /* #bb8d37; */
}

.marker-triangle {
    position: relative;
    bottom: 1px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 0;
    border-left: 0.5rem solid transparent;
    border-right: 0.5rem solid transparent;
    border-top: 0.5rem solid green;
}
